#app {
    background-image: url("/images/space2.jpg"), linear-gradient(to bottom right, #f7f7fc, #dbe9ee);
    background-size: cover;
    #main_header{
        background: #1C1C25;
        font-family: "Futura", sans-serif;
        .profile-image{
            padding: 2px;
            height: 50px;
            margin-right: 25px;
            background: #9b55a3;
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
            border-radius: 50%;
            transition: all 0.15s ease;
            &:hover{
                cursor: pointer;
                transform: translateY(-4px) !important;
            }
        }


    }
    #profile_window{
        position: absolute;
        top: 83px;
        right: 20px;
        z-index: 23423;
        color: #fff;
        background: #0c0c15;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
        border-radius: 20px;
        @extend .c;
        @extend .ac;
        @extend .jc;
        button{
            //text-align: left;
            margin-top: 0 !important;
            width: 89%;

        }
        .name{
            margin-bottom: 10px;
            font-size: 1.4rem;
        }
        .email{
            margin-bottom: 10px;
            font-size: 0.8rem;
        }
        .profile-image{
            @extend .r;
            @extend .ac;
            @extend .jc;
            color:#fff;
            font-size: 3rem;
            height: 100px;
            margin: 15px;
            width: 100px;
            background: #9b55a3;
            border-radius: 50%;
            &:hover{
                cursor: pointer;
            }
        }
    }
    #app_root {
        background: rgba(28, 28, 37, 0.85);
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
        margin: 20px;
        border-radius: 20px;
        height: 100%;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;

        input[type="color"] {
            border: none;
            cursor: pointer;
            border-radius: 20px;
            width: 30px;
            padding: 0;
            margin-bottom: 0px;

        }

        textarea {
            border: solid 1px rgb(155, 85, 163);
            border-radius: 20px;
            width: 300px;
            height: 100px;
            padding: 10px 20px;
            font-size: 16px;
            margin-bottom: 5px;

            resize: none;
        }

        .input-radio {
            width: fit-content !important;
        }
    }
}
#menu_box{
     width: 25%;
     align-self: flex-start;
     height: 100vh;
     top: 0;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     position: sticky;
     background:rgba(3, 4, 8, 0.458824);
    max-width: 300px;
 }
#content_box{
    width: 100%;
    align-self: flex-start;
    position: relative;
    top: 0;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(41, 43, 54, 0.59);
    #window_content_block.update-profile{
    }
    #window_content_block {
        input[type="range"]{
            border: solid 1px rgb(155, 85, 163);
            border-radius: 20px;
            width: 200px;
            padding: 0;
            height: 10px;
            font-size: 16px;
        }
        #update_profile{
            @extend .c;
            @extend .ac;
            @extend .jc;
            p{
                width: 100%;
            }
        }
        .white-link{
            a{
                color: white;
                text-align: center;
                &:visited{
                    color: white;
                }
                &:hover{
                    color: #9b55a3;
                }
            }
        }
        background: #0c0c15;
        border: none;
        border-radius: 25px;
        color: white;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        padding: 1rem 2rem;
        transition: all 0.15s ease;
        font-size: 16px;
        margin: 1rem;
        width: fit-content;

        h2 {
            color: white;
        }
    }
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #9b55a3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #9b55a3;
    cursor: pointer;
}
#app_container {
    height: calc(100%);
    min-height: calc(100vh - 84px);
    width: 100%;
    user-select: none;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.widget-selection{
    overflow-y: scroll;
    .bbutton{
        width: 300px;
        height: 200px;
        background: rgba(41, 43, 54, 0.59);
    }
}


#app_container.project-dash {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
    h2 {
        text-align: left;
        color: white;

    }
    .fa-search{
        transform: translateX(40px);
        margin-bottom: -2px;
        color: grey;
    }
    .fa-times-circle{
        transform: translate(-42px, 6px);
        padding: 0 !important;
        height: 20px;
        background: transparent;
        width: 20px;
    }
    input{
        height: 12px;
        margin-top: 15px;
        padding-left: 38px;
        margin-right: 8px;
    }
    header {
        width: 100%;
        height: 4rem;
        //padding: 12px 0px;
        @extend .r;
        @extend .jc;
        @extend .ac;
        overflow: hidden;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: rgba(28, 28, 37, 0.73);
        justify-content: space-between !important;
    }

    section {
        width: 100%;

        h2 {
            text-align: left;
            color: white;
        }

        hr {
            width: 90%;
        }
    }

    footer {
        width: 100vw;
        height: 8vh;
    }
}

#app_container.project-single {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    header {
        width: 100%;
        height: 10vh;
        padding: 12px 0px;
        background: transparent !important;
        @extend .r;
        @extend .jc;
        @extend .ac;
        justify-content: space-between !important;
    }

    .charts {
        width: 60%;
        //overflow: scroll;
        border-radius: 10px;
    }

    .variables {
        //width: 40%;
        //overflow: scroll;
        border-radius: 10px;
        h3{
            color: white;
            font-size: 2rem;
        }
        .r{
            width: 100%;
            button{
                margin-left: 0;
                margin-bottom: 0;

                height: 32px;
            }
        }
        .variable {
            max-width: 320px;
            input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-right: 40px;
            }

            .name-input {
                background: #9b55a3;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                color: white;
                padding: 5px 15px 5px 15px;
                margin: 0;

            }

            input.name-input[disabled] {
                color: rgb(243, 240, 0);
            }
            button {
                position: relative;
                right: 25px;
                color: #9b55a3;
                background: transparent;

                &:hover {
                    color: #170e1d;
                }
            }

            .double-button {
                right: 40px;
            }

            .double-button-load {
                right: 23px;
                top: 6px;
                transform: translateY(0) !important;
                cursor: default !important;
            }

            .double-button2 {
                right: 35px;
            }
        }
    }

    section {
        width: 100%;

        h2 {
            text-align: center;
        }

        hr {
            width: 90%;
        }
    }

    footer {
        width: 100vw;
        height: 8vh;
    }
}

.loader {
    border: 5px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 5px solid #9b55a3;
    border-radius: 50%;
    margin-top: 20vh;
    width: 100px;
    height: 100px;
}
.dashboard-button-select{
    border-left: solid 3px #9b55a3 !important;
}
.dashboard-button{
    border-left: solid 3px transparent;
    margin-left: 3px;
    &:hover{
        background: rgba(155, 85, 163, 0.33);
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    button{
        .fa{
            margin-right: 1.3rem;
        }
        background: transparent;
        &:hover{
            transform: none;
            box-shadow: none;
        }
    }
}
.loader-small {
    border: 2px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 2px solid #9b55a3;
    border-radius: 50%;
    width: 40px;
    height: 18px;
    margin: 0 !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
