#mobile_dropdown {
    background: rgba(36, 18, 37, 0.99);
    position: absolute;
    top: 80px;
    z-index: 10;
    ul{
        li{
            height: 80px;
            transition: all 0.25s ease;
            &:hover {
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    #main_header {
        justify-content: space-between !important;
        background: rgba(28, 28, 37, 0.86);
    }
    #header_logo a img{
        content:url("https://cloud.brilliantlabs.ca/images/BL_Flask_White.png") !important;
        height: 45px !important;
        margin-left: 1rem;
    }
}