.c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.cc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}