$xxlScreen : 1440px;
$xlScreen : 1260px;
$lgScreen : 1080px;
$mlScreen : 900px;
$mdScreen : 720px;
$smScreen : 540px;
$xsScreen : 360px;

$accentColor: #97509E;
$boxShadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
$hoverColor: #97509E;
$font1: "Futura", sans-serif;
$font2: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
$font3: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

@media only screen and (max-width: $xxlScreen) {
    .dfxxl{
        display: flex !important;
    }
    .dnxxl{
        display: none !important;
    }
    .w100xxl{
        width: 100% !important;
    }
    .rxxl{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrxxl{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cxxl{
        flex-direction: row !important;
    }
    .crxxl{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $xlScreen) {
    .dfxl{
        display: flex !important;
    }
    .dnxl{
        display: none !important;
    }
    .w100xl{
        width: 100% !important;
    }
    .rxl{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrxl{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cxl{
        flex-direction: row !important;
    }
    .crxl{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $lgScreen) {
    .dflg{
        display: flex !important;
    }
    .dnlg{
        display: none !important;
    }
    .w100lg{
        width: 100% !important;
    }
    .rlg{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrlg{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .clg{
        flex-direction: row !important;
    }
    .crlg{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $mlScreen) {
    .dfml{
        display: flex !important;
    }
    .dnml{
        display: none !important;
    }
    .w100ml{
        width: 100% !important;
    }
    .rml{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrml{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cml{
        flex-direction: row !important;
    }
    .crml{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $mdScreen) {
    .dfmd{
        display: flex !important;
    }
    .dnmd{
        display: none !important;
    }
    .prmd22{
        padding-right: 2.2rem !important;
    }
    .w100md{
        width: 100% !important;
    }
    .rmd{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrmd{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cmd{
        flex-direction: row !important;
    }
    .crmd{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $smScreen) {
    .dfsm{
        display: flex !important;
    }
    .dnsm{
        display: none !important;
    }
    .w100sm{
        width: 100% !important;
    }
    .rsm{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrsm{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .csm{
        flex-direction: row !important;
    }
    .crsm{
        flex-direction: row-reverse !important;
    }
}
@media only screen and (max-width: $xsScreen) {
    .dfxs{
        display: flex !important;
    }
    .dnxs{
        display: none !important;
    }
    .w100xs{
        width: 100% !important;
    }
    .rxs{
        flex-direction: column !important;
        width: 100% !important;
    }
    .rrxs{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cxs{
        flex-direction: row !important;
    }
    .crxs{
        flex-direction: row-reverse !important;
    }
}
.dn{
    display: none;
}

//Flex Direction
.r, .rxs, .rsm, .rmd, .rml, .rlg, .rxl, .rxxl {
    display: flex;
    flex-direction: row;
}

.rr, .rrxs, .rrsm, .rrmd, .rrml, .rrlg, .rrxl, .rrxxl {
    display: flex;
    flex-direction: row-reverse;
}
.c, .cxs, .csm, .cmd, .cml, .clg, .cxl, .cxxl {
    display: flex;
    flex-direction: column;
}
.cr, .crxs, .crsm, .crmd, .crml, .crlg, .crxl, .crxxl {
    display: flex;
    flex-direction: column-reverse;
}


// Justify
.jfe {
    justify-content: flex-end;
}

.jfs {
    justify-content: flex-start;
}

.jc {
    justify-content: center;
}

.jse {
    justify-content: space-evenly;
}

.jsb {
    justify-content: space-between;
}

.jsa {
    justify-content: space-around;
}


// Align Items
.afe {
    align-items: flex-end;
}

.afs {
    align-items: flex-start;
}

.ac {
    align-items: center;
}

.as {
    align-items: stretch;
}

.ab {
    align-items: baseline;
}

// Align Content
.acfe {
    align-content: flex-end;
}

.acfs {
    align-content: flex-start;
}

.acc {
    align-content: center;
}

.acs {
    align-content: stretch;
}
.acsa {
    align-content: space-around;
}
.acsb {
    align-content: space-between;
}

.m0 {
    margin: 0;
}

.dn {
    display: none !important;
}

.dfxxl{
    display: none;
}
.dnxxl{
    display: flex;
}
.dfxl{
    display: none;
}
.dnxl{
    display: flex;
}
.dflg{
    display: none;
}
.dnlg{
    display: flex;
}
.dfml{
    display: none;
}
.dnml{
    display: flex;
}
.dfmd{
    display: none;
}
.dnmd{
    display: flex;
}
.dfsm{
    display: none;
}
.dnsm{
    display: flex;
}
.dfxs{
    display: none;
}
.dnxs{
    display: none !important;
}
// Width %
.w0{
    width: 0;
}
.w10{
    width: 10%;

}
.w20{
    width: 20%;

}
.w25{
    width: 25%;
}
.w30{
    width: 30%;

}
.w40{
    width: 40%;

}
.w50{
    width: 50%;

}
.w60{
    width: 60%;

}
.w70{
    width: 70%;

}
.w75{
    width: 75%;

}
.w80{
    width: 80%;

}
.w90{
    width: 90%;

}
.w100 {
    width: 100%;
}


// Min Width %
.miw0{
    min-width: 0;
}
.miw10{
    min-width: 10%;

}
.miw20{
    min-width: 20%;

}
.miw30{
    min-width: 30%;

}
.miw40{
    min-width: 40%;

}
.miw50{
    min-width: 50%;

}
.miw60{
    min-width: 60%;

}
.miw70{
    min-width: 70%;

}
.miw80{
    min-width: 80%;

}
.miw90{
    min-width: 90%;

}
.miw100 {
    min-width: 100%;
}
.mwxxl{
    max-width: $xxlScreen;
}
.mwxl{
    max-width: $xlScreen;
}
.mwlg{
    max-width: $lgScreen;
}
.mwml{
    max-width: $mlScreen;
}
.mwmd{
    max-width: $mdScreen;
}
.mwsm{
    max-width: $smScreen;
}
.mwxs{
    max-width: $xsScreen;
}
// Max Width %
.mw0{
    max-width: 0;
}
.mw10{
    max-width: 10%;

}
.mw20{
    max-width: 20%;

}
.mw30{
    max-width: 30%;

}
.mw40{
    max-width: 40%;

}
.mw50{
    max-width: 50%;

}
.mw60{
    max-width: 60%;

}
.mw70{
    max-width: 70%;

}
.mw80{
    max-width: 80%;

}
.mw90{
    max-width: 90%;

}
.mw100 {
    max-width: 100%;
}
.mwxxl{
    max-width: $xxlScreen;
}
.mwxl{
    max-width: $xlScreen;
}
.mwlg{
    max-width: $lgScreen;
}
.mwml{
    max-width: $mlScreen;
}
.mwmd{
    max-width: $mdScreen;
}
.mwsm{
    max-width: $smScreen;
}
.mwxs{
    max-width: $xsScreen;
}
// Width %
.h0{
    height: 0;
}
.h10{
    height: 10%;

}
.h20{
    height: 20%;

}
.h30{
    height: 30%;

}
.h40{
    height: 40%;

}
.h50{
    height: 50%;

}
.h60{
    height: 60%;

}
.h70{
    height: 70%;

}
.h80{
    height: 80%;

}
.h90{
    height: 90%;

}
.h100 {
    height: 100%;
}

// heignt rem

.h0r{
    height: 0;
}
.h01r{
    height: 0.1rem;

}
.h02r{
    height: 0.2rem;

}
.h03r{
    height: 0.3rem;

}
.h04r{
    height: 0.4rem;

}
.h05r{
    height: 0.5rem;

}
.h06r{
    height: 0.6rem;

}
.h07r{
    height: 0.7rem;

}
.h08r{
    height: 0.8rem;

}
.h09r{
    height: 0.9rem;

}
.h1r{
    height: 1rem;

}
.h2r{
    height: 2rem;

}
.h3r{
    height: 3rem;

}
.h4r{
    height: 4rem;

}
.h5r{
    height: 5rem;

}
.h6r{
    height: 6rem;

}
.h7r{
    height: 7rem;

}
.h8r{
    height: 8rem;

}
.h9r{
    height: 9rem;
}


// Min Width %
.mih0{
    min-height: 0;
}
.mih10{
    min-height: 10%;

}
.mih20{
    min-height: 20%;

}
.mih30{
    min-height: 30%;

}
.mih40{
    min-height: 40%;

}
.mih50{
    min-height: 50%;

}
.mih60{
    min-height: 60%;

}
.mih70{
    min-height: 70%;

}
.mih80{
    min-height: 80%;

}
.mih90{
    min-height: 90%;

}
.mih100 {
    min-height: 100%;
}
// Max Width %
.mh0{
    max-height: 0;
}
.mh10{
    max-height: 10%;

}
.mh20{
    max-height: 20%;

}
.mh30{
    max-height: 30%;

}
.mh40{
    max-height: 40%;

}
.mh50{
    max-height: 50%;

}
.mh60{
    max-height: 60%;

}
.mh70{
    max-height: 70%;

}
.mh80{
    max-height: 80%;

}
.mh90{
    max-height: 90%;

}
.mh100 {
    max-height: 100%;
}



// Padding
.p0{
     padding: 0;
 }
.p1{
    padding: 0.25rem;
}
.p2{
    padding: 0.5rem;
}
.p3{
    padding: 1rem;
}
.p4{
    padding: 1.5rem;
}
.p5{
    padding: 3rem;
}

// Padding Left
.pl0{
    padding-left: 0;
}
.pl1{
    padding-left: 0.25rem;
}
.pl2{
    padding-left: 0.5rem;
}
.pl3{
    padding-left: 1rem;
}
.pl4{
    padding-left: 1.5rem;
}
.pl5{
    padding-left: 3rem;
}

// Padding Right
.pr0{
    padding-right: 0;
}
.pr1{
    padding-right: 0.25rem;
}
.pr2{
    padding-right: 0.5rem;
}
.pr3{
    padding-right: 1rem;
}
.pr4{
    padding-right: 1.5rem;
}
.pr5{
    padding-right: 3rem;
}

// Padding top
.pt0{
    padding-top: 0;
}
.pt1{
    padding-top: 0.25rem;
}
.pt2{
    padding-top: 0.5rem;
}
.pt3{
    padding-top: 1rem;
}
.pt4{
    padding-top: 1.5rem;
}
.pt5{
    padding-top: 3rem;
}

// Padding bottom
.pb0{
     padding-bottom: 0;
 }
.pb1{
    padding-bottom: 0.25rem;
}
.pb2{
    padding-bottom: 0.5rem;
}
.pb3{
    padding-bottom: 1rem;
}
.pb4{
    padding-bottom: 1.5rem;
}
.pb5{
    padding-bottom: 3rem;
}

// Padding Y
.py0{
    padding-top: 0;
    padding-bottom: 0;
}
.py1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py4{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

// Padding X
.px0{
    padding-right: 0;
    padding-left: 0;
}
.px1{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.px2{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.px3{
    padding-right: 1rem;
    padding-left: 1rem;
}
.px4{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.px5{
    padding-right: 3rem;
    padding-left: 3rem;
}






// Padding
.m0{
    margin: auto;
}
.m0{
    margin: 0;
}
.m1{
    margin: 0.25rem;
}
.m2{
    margin: 0.5rem;
}
.m3{
    margin: 1rem;
}
.m4{
    margin: 1.5rem;
}
.m5{
    margin: 3rem;
}

// Padding Left
.mla{
    margin-left: auto;
}
.ml0{
    margin-left: 0;
}
.ml1{
    margin-left: 0.25rem;
}
.ml2{
    margin-left: 0.5rem;
}
.ml3{
    margin-left: 1rem;
}
.ml4{
    margin-left: 1.5rem;
}
.ml5{
    margin-left: 3rem;
}

// Padding Right
.mra{
    margin-right: auto;
}
.mr0{
    margin-right: 0;
}
.mr1{
    margin-right: 0.25rem;
}
.mr2{
    margin-right: 0.5rem;
}
.mr3{
    margin-right: 1rem;
}
.mr4{
    margin-right: 1.5rem;
}
.mr5{
    margin-right: 3rem;
}

// Padding top
.mta{
    margin-top: auto;
}
.mt0{
    margin-top: 0;
}
.mt1{
    margin-top: 0.25rem;
}
.mt2{
    margin-top: 0.5rem;
}
.mt3{
    margin-top: 1rem;
}
.mt4{
    margin-top: 1.5rem;
}
.mt5{
    margin-top: 3rem;
}
.mt6{
    margin-top: 4em;
}

// Padding bottom
.mba{
    margin-bottom: auto;
}
.mb0{
    margin-bottom: 0;
}
.mb1{
    margin-bottom: 0.25rem;
}
.mb2{
    margin-bottom: 0.5rem;
}
.mb3{
    margin-bottom: 1rem;
}
.mb4{
    margin-bottom: 1.5rem;
}
.mb5{
    margin-bottom: 3rem;
}

// Padding Y
.mya{
    margin-top: auto;
    margin-bottom: auto;
}
.my0{
    margin-top: 0;
    margin-bottom: 0;
}
.my1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.my2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.my5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

// Padding X
.mxa{
    margin-right: auto;
    margin-left: auto;
}
.mx0{
    margin-right: 0;
    margin-left: 0;
}
.mx1{
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
.mx2{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.mx3{
    margin-right: 1rem;
    margin-left: 1rem;
}
.mx4{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.mx5{
    margin-right: 3rem;
    margin-left: 3rem;
}
.fs075{
    font-size: 0.75rem;
}
.fs1{
    font-size: 1rem;
}
.fs15{
    font-size: 1.5rem;
}
.fs2{
    font-size: 2rem;
}
.fs3{
    font-size: 3rem;
}
.fs4{
    font-size: 4rem;
}
.fs5{
    font-size: 5rem;
}
.fw200{
    font-weight: 200;
}
.tac{
    text-align: center !important;
}
.tal{
    text-align: left !important;
}
.tar{
    text-align: right !important;
}

.hp{
    cursor: default;
    &:hover{
        cursor: pointer !important;
    }
}
.hc{
    &:hover{
        color: $hoverColor !important;
    }
}
.hbs{
     &:hover{
         box-shadow: $boxShadow !important;
     }
 }
.lsn{
    list-style: none !important;
}
.tdn{
    text-decoration: none;
}
.fk{
    font-family: 'Karla', sans-serif;
}
.cw{
    color: white;
}
.cb{
    color: black;
}
.bs{
    box-shadow: $boxShadow;
}
.bgac{
    background-color: $accentColor;
}
.bgw{
    background-color: white;
}
.bgb{
    background-color: black;
}
.fdcr{
    flex-direction: column-reverse;
}
.fdc{
    flex-direction: column;
}
.fdrr{
    flex-direction: row-reverse;
}
.fdr{
    flex-direction: row;
}
.fww{
    flex-wrap: wrap;
}
.fwwr{
    flex-wrap: wrap-reverse;
}
.fwnr{
    flex-wrap: nowrap;
}
.font1{
    font-family: $font1;
}
.font2{
    font-family: $font2;
}
.font3{
    font-family: $font3;
}

//- Transitions
.ts015e{
    transition: all 0.15s ease;
}
.ts50e{
    transition: all 0.50s ease;
}

//- Positions
.poa{
    position: absolute;
}
.por{
    position: relative;
}
.pof{
    position: fixed;
}
.pos{
    position: sticky;
}
.posta{
    position: static;
}
//- Font Awesome
@mixin fa($icon) {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: $icon;
}


