#page_front {
    background-repeat: no-repeat;
    background-image: url('../images/Space-Background-sm.jpg');
    background-attachment: fixed;
    background-size: cover;
    //transform: translateY(-4rem);
    font-family: "Futura", sans-serif;
    background-color: transparent;

    #bkg{
        width: 475px;
    }
    h1 {
        color: #F3B820;
        margin:1rem !important;
        font-size: 5rem;
        text-align: center;
    }

    h2 {
        color: white;
        text-align: center;
        font-size: 2rem;
        //background: rgba(0, 0, 0, 0.5);
        //border-radius: 2rem;
    }
    button {
        height: 44px;
        background: #97509E;
        font-size: 1.5rem ;

        a {
            text-decoration: none;
            color: white;
            padding: 8px 30px !important;
        }
    }
    #f1 {
        background-color:transparent;
        width: 100%;
        height: auto;
        
        // box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        .rxl{
            max-width: 80%;
            padding: 0 20%;
        }
    }
    #f2, #f4{
        // box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0);
        h2 {
            color: white;
            font-size: 2rem;
        }
        h3{
            font-size: 1.5rem;
            text-align: left;
            color:white;
        }
        p{
            text-align: left;
            font-size: 1rem;
            color: white;
        }
        button{
            width: fit-content;
            height: 44px;
            font-size: 1.5rem ;
            margin-top: 20px;
        }
    }
    #f2 {
        .rxl{
            max-width: 80%;
            padding: 0 10%;
        }
    }
    #f3 {
        .rxl{
            max-width: 80%;
            padding: 0 10%;
        }
    }
    #f3{
        // box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
        background: transparent;
        h2 {
            color: white;
            font-size: 2rem;
        }
        h3{
            color: white;
            font-size: 1.5em;
            text-align: left;
        }
        a{
            color: #97509E;
            text-decoration: none;
        }
        p{
            color: white;
            text-align: left;
            font-size: 1rem
        }
        button{
            width: fit-content;
            height: 44px;
            font-size: 1.5rem ;
            margin-top: 20px;
            a{
                color: #fff;
            }
        }
    }
    #f4{
        p{
            font-size: 1rem;
        }
        img{
            max-width: 200px;
        }
        .rxl{
            max-width: 80%;
            padding: 0 10%;
        }
    
    }
    footer{
        //height: 400px;
        background: rgba(0,0,0,0.4);
        h2, h3, h4, p{
            color: white;
        }
    }
}

@media only screen and (max-width: 947px) {
    #f1 {
        h1 {
            margin-top: 1rem !important;
        }
        height: 600px !important;
        background-size: cover !important;
    }
    #f2{
        // h3,h2,p{
        //     //text-align: center !important;
        // }
        img{
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 1260px) {

    footer{
        .c{
            width: 80%;
        }
    }
}