include main
doctype html
html
    +head("Brilliant Labs Cloud App", 'app')

    body#app
        +header()
        #profile_window.dn.c
            img#profile_image_sidebar.profile-image.m2(src="/images/empty-avatar.png")
            .name#user_name
            .email#user_email
            button.fas.fa-user(onclick="windowSwitcher('profile_settings')") &nbsp;&nbsp;Profile Settings
            button.fas.fa-door-open(onclick="ws.close();firebase.auth().signOut(); document.getElementById('profile_window').classList.add('dn');document.getElementById('window').classList.add('dn');") &nbsp;&nbsp;Sign Out
        #app_root
            #app_container.m0.c.ac.jc
            #window.dn