include main


doctype html
html
    +head("Brilliant Labs Cloud")
    body#page_front
        #f1.w100.c.jfs.ac
            +header()
            .c.jfs.ac.mw60.p0.h80.mt5
                
                .r.jc.acfe.w100
                    h1.mb3 CLOUD
                    img(src="/images/BL_Flask_White.png", alt="Brilliant Labs logo In the center of a heart formed by electric circuits" id="beaker")                    
                .heart_img.c.jfs.ac.w50
                    img.w80(src="/images/Circuits_Heart_sm.png", alt="Brilliant Labs logo In the center of a heart formed by electric circuits")
                    
                button.p0.mt6
                    a(href="/app/") Get Started
        #f2.w100.c.jfs.ac
            h2.mt4 What is the Brilliant Labs Cloud?
            #f2_content.rxl.w100.p2
                .c.p4.jc.ac
                    h3.m0.mb2.w100  A place where Makers come to Connect.  
                    p.m0.mt2.fk The Brilliant Labs Cloud empowers makers and students to collect data and control their b.Board powered IoT (Internet of Things) devices.  Students and makers can leverage HTTPS, MQTT, and WebSockets to develop real time IoT devices and collect a variety of sensor data for Big or Open Data projects. 
                    .c.jc.ac
                        button.p0.m0.w100
                            a(href="/app/") Get Started
                .c.jc.ac.w100
                    img.h100(src = "/images/devices4_angle.png" width="750" height="474" alt="Brilliant Labs platform displayed on multiple devices")
        #f3.w100.c.jfs.ac
            h2.mt4.p2 Experience the Power of the b.Board.    
            .rxl.w100
                .c.p0.jc.ac
                    img(src = "/images/bBoard_w_clicks_sm.png" height="400" alt="Brilliant Labs b.Board device")
                .c.p4.jc.ac
                    h3.m0.mb2.w100 The b.Board
                    p.m0.mt2.fk The b.Board is an open-source development board for the micro:bit, and CPX, giving you the option of connecting thousands of different ClickboardTM sensors and module combinations.  It’s block-based or JavaScript IDE makes the b.Board the perfect rapid prototyping solution for makers and students of all ages and abilities. 

                    .c.jc.ac
                        button.p0.m0
                            a(href="https://www.brilliantlabs.ca/bboard") Get The b.Board
        #f4.w100.c.jfs.ac
            h2.mt4 How does it all work?
            .rxl
                .f4_content.c.p4.jc.ac
                    h3.m0.mb2.w100.tac Connect
                    p.m0.mb2.w100.tac.fk Connect your b.Board powered IoT device to the Cloud through an Internet Connection using a WiFi BLE ClickboardTM.
                    img.m4(src = "/images/wifi.png" alt="IoT device connected to the cloud")
                .f4_content.c.p4.jc.ac
                    h3.m0.mb2.w100.tac Transfer
                    p.m0.mb2.w100.tac.fk Send or Receive Data from your b.Board powered IoT device to the Cloud using a using HTTPS, MQTT, or WebSockets.

                    img.m4(src = "/images/database.png" alt="The cloud receiving or sending data to the IoT device")
                .f4_content.c.p4.jc.ac
                    h3.m0.mb2.w100.tac Visualize
                    p.m0.mb2.w100.tac.fk Visualise Data and Control our device from the Cloud.
                    img.m4(src = "/images/home.png" alt="Control and visualise data from the IoT device on the cloud")
        +footer()