include main


doctype html
html
    +head("Brilliant Labs Cloud")
body#page_front
    header.r.jc.ac#site_header
        .r.jsb.ac.w100
            .r.jfs(style="width:25%;")
                a(href="https://brilliantlabs.ca" target="_blank")
                    img(src = "/images/brilliant-labs-logo-white.svg")
            ul.navigation.r.jfe.ac(style="width:75%;")
                li
                    a.fa.fa-home.r.jc.ac(href="/") &nbspHome
                li
                    a.fa.fa-code.r.jc.ac(target="_blank" href="https://code.brilliantlabs.app/") &nbspCode
                li
                    a.fa.fa-edit.r.jc.ac(target="_blank" href="https://brilliantlabs.app/") &nbspProject Portal
                li
                    a.fa.fa-door-open.r.jc.ac(href="/app/") &nbspLog In
                li
                    a.fa.fa-question.r.jc.ac &nbspHelp
            ul.hamburger.r.jc.ac.dn
                li
                    input#ham.dn(name="ham" type="checkbox")
                    label#ham_label.fa.fa-bars.r.jc.ac(for="ham" style="width: 4rem;")
    #mobile_dropdown.dn
        ul.c.jc.ac.m0.p0
            li
                a.fa.fa-home.r.jfs.ac(href="/") &nbspHome
            li
                a.fa.fa-code.r.jfs.ac(target="_blank" href="https://code.brilliantlabs.app/") &nbspCode
            li
                a.fa.fa-edit.r.jfs.ac(target="_blank" href="https://brilliantlabs.app/") &nbspProject Portal
            li
                a.fa.fa-door-open.r.jfs.ac(href="/app/") &nbspLog In
    script.
        var checkbox = document.getElementById("ham");
        var label = document.getElementById("ham_label");
        var dropdownMenu = document.getElementById('mobile_dropdown');
        checkbox.addEventListener('change', function () {
            if (this.checked) {
                label.classList.remove('fa-bars');
                label.classList.add('fa-times');
                dropdownMenu.classList.remove('dn');
            } else {
                label.classList.remove('fa-times');
                label.classList.add('fa-bars');
                dropdownMenu.classList.add('dn');
            }
        });
        window.addEventListener('resize', function () {
            checkbox.checked = false;
            dropdownMenu.classList.add('dn');
            label.classList.remove('fa-times');
            label.classList.add('fa-bars');
        })
    #f1.w100.c.jc.ac
        div.c.jc.ac.mw60
            h1 Cloud Service
            h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit donec consectetur semper nunc in molestie.
            button.p0
                a(href="/app/") Get Started
