include main


doctype html
html
    +head("Brilliant Labs Cloud")
    body#page_front
        #f1.w100.c.jfs.ac
            +header()
            .c.jfs.ac.mw60.p0.h80
                .c.jfs.ac.w50
                    img(src="/images/BL_Logo_white.png", alt="" id="bkg")
                h1.mb3 CLOUD
                .c.jfs.ac.w50
                    img.w80(src="/images/Circuits_Heart.png", alt="")
                button.p0.mt6
                    a(href="/app/") Get Started
        #f2.w100.c.jfs.ac
            h2.mt4 What is the IoT Cloud?
            .rxl.w100
                .c.p5.jc.ac
                    h3.m0.mb2.w100 A User Interface that you can count on.
                    p.m0.mt2.fk The Cloud empowers makers to control and visualize critical data from their IoT devices.
                    .c.jc.ac
                        button.p0.m0
                            a(href="/app/") Get Started
                .c.p5.jc.ac.w50
                    img.h100(src = "/images/devices4.png" width="750" height="474")
        #f3.w100.c.jfs.ac
            h2.mt4.p2 Experience the Power of the b.Board    
            .rxl.w100
                .c.p5.jc.ac
                    img(src = "/images/bBoard_w_clicks.png" height="400")
                .c.p5
                    h3.m0.mb2.w100 The b.Board
                    p.m0.mt2.fk The b.Board is an open-source IoT development board with the option of connecting 100's of different sensors and modules based on the <a target="_blank" href="https://microbit.org">Micro Bit</a>. The perfect hardware solution for your IoT needs.
                    button.p0.m0
                        a(href="https://www.brilliantlabs.ca/bboard") Get The bBoard
        #f4.w100.c.jfs.ac
            h2.mt4 How does it all work?
            .rxl.w100
                .c.p4.jc.ac
                    h3.m0.mb2.w100.tac Connect
                    p.m0.mb2.w100.tac.fk Connect your IoT device to the Cloud through an Internet Connection.
                    img.m4(src = "/images/wifi.png")
                .c.p4.jc.ac
                    h3.m0.mb2.w100.tac Transfer
                    p.m0.mb2.w100.tac.fk Send or Receive Data from your IoT device to the Cloud.
                    img.m4(src = "/images/database.png")
                .c.p4.jc.ac
                    h3.m0.mb2.w100.tac Visualize
                    p.m0.mb2.w100.tac.fk Visualise Data and Control Your device from the Cloud.
                    img.m4(src = "/images/home.png")
        +footer()