#app {
  background-image: url("/images/space2.jpg"), -webkit-gradient(linear, left top, right bottom, from(#f7f7fc), to(#dbe9ee));
  background-image: url("/images/space2.jpg"), linear-gradient(to bottom right, #f7f7fc, #dbe9ee);
  background-size: cover; }
  #app #site_header {
    background: #1C1C25; }
    #app #site_header ul li a:hover {
      -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.8);
      color: white !important; }
    #app #site_header .profile-image {
      padding: 2px;
      height: 50px;
      margin-right: 25px;
      background: #9b55a3;
      -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease; }
      #app #site_header .profile-image:hover {
        cursor: pointer;
        -webkit-transform: translateY(-4px) !important;
        transform: translateY(-4px) !important; }
  #app #profile_window {
    position: absolute;
    top: 83px;
    right: 20px;
    z-index: 23423;
    color: #fff;
    background: #0c0c15;
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    border-radius: 20px; }
    #app #profile_window button {
      margin-top: 0 !important;
      width: 89%; }
    #app #profile_window .name {
      margin-bottom: 10px;
      font-size: 1.4rem; }
    #app #profile_window .email {
      margin-bottom: 10px;
      font-size: 0.8rem; }
    #app #profile_window .profile-image {
      color: #fff;
      font-size: 3rem;
      height: 100px;
      margin: 15px;
      width: 100px;
      background: #9b55a3;
      border-radius: 50%; }
      #app #profile_window .profile-image:hover {
        cursor: pointer; }
  #app #app_root {
    background: rgba(28, 28, 37, 0.85);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 20px;
    height: 100%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif; }
    #app #app_root input[type="color"] {
      border: none;
      cursor: pointer;
      border-radius: 20px;
      width: 30px;
      padding: 0;
      margin-bottom: 0px; }
    #app #app_root textarea {
      border: solid 1px #9b55a3;
      border-radius: 20px;
      width: 300px;
      height: 100px;
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 5px;
      resize: none; }
    #app #app_root .input-radio {
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
      width: fit-content !important; }

#menu_box {
  width: 25%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 100vh;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  background: rgba(3, 4, 8, 0.458824);
  max-width: 300px; }

#content_box {
  width: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

#window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(41, 43, 54, 0.59); }
  #window #window_content_block {
    background: #0c0c15;
    border: none;
    border-radius: 25px;
    color: white;
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    font-size: 16px;
    margin: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    #window #window_content_block input[type="range"] {
      border: solid 1px #9b55a3;
      border-radius: 20px;
      width: 200px;
      padding: 0;
      height: 10px;
      font-size: 16px; }
    #window #window_content_block #update_profile p {
      width: 100%; }
    #window #window_content_block .white-link a {
      color: white;
      text-align: center; }
      #window #window_content_block .white-link a:visited {
        color: white; }
      #window #window_content_block .white-link a:hover {
        color: #9b55a3; }
    #window #window_content_block h2 {
      color: white; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9b55a3;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9b55a3;
  cursor: pointer; }

#app_container {
  height: calc(100%);
  min-height: calc(100vh - 84px);
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3); }

.widget-selection {
  overflow: scroll; }
  .widget-selection .bbutton {
    width: 300px;
    height: 200px;
    background: rgba(41, 43, 54, 0.59); }

#app_container.project-dash {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }
  #app_container.project-dash h2 {
    text-align: left;
    color: white; }
  #app_container.project-dash .fa-search {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    margin-bottom: -2px;
    color: grey; }
  #app_container.project-dash .fa-times-circle {
    -webkit-transform: translate(-42px, 6px);
    transform: translate(-42px, 6px);
    padding: 0 !important;
    height: 20px;
    background: transparent;
    width: 20px; }
  #app_container.project-dash input {
    height: 12px;
    margin-top: 15px;
    padding-left: 38px;
    margin-right: 8px; }
  #app_container.project-dash header {
    width: 100%;
    height: 4rem;
    overflow: hidden;
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(28, 28, 37, 0.73);
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  #app_container.project-dash section {
    width: 100%; }
    #app_container.project-dash section h2 {
      text-align: left;
      color: white; }
    #app_container.project-dash section hr {
      width: 90%; }
  #app_container.project-dash footer {
    width: 100vw;
    height: 8vh; }

#app_container.project-single {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }
  #app_container.project-single header {
    width: 100%;
    height: 10vh;
    padding: 12px 0px;
    background: transparent !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  #app_container.project-single .charts {
    width: 60%;
    overflow: scroll;
    border-radius: 10px; }
  #app_container.project-single .variables {
    overflow: scroll;
    border-radius: 10px; }
    #app_container.project-single .variables h3 {
      color: white;
      font-size: 2rem; }
    #app_container.project-single .variables .r, #app_container.project-single .variables #app #profile_window .profile-image, #app #profile_window #app_container.project-single .variables .profile-image, #app_container.project-single .variables #app_container.project-dash header, #app_container.project-dash #app_container.project-single .variables header, #app_container.project-single .variables header, #app_container.project-single .variables #mobile_dropdown ul li, #mobile_dropdown ul #app_container.project-single .variables li {
      width: 100%; }
      #app_container.project-single .variables .r button, #app_container.project-single .variables #app #profile_window .profile-image button, #app #profile_window #app_container.project-single .variables .profile-image button, #app_container.project-single .variables #app_container.project-dash header button, #app_container.project-dash #app_container.project-single .variables header button, #app_container.project-single .variables header button, #app_container.project-single .variables #mobile_dropdown ul li button, #mobile_dropdown ul #app_container.project-single .variables li button {
        margin-left: 0;
        margin-bottom: 0;
        height: 32px; }
    #app_container.project-single .variables .variable {
      max-width: 320px; }
      #app_container.project-single .variables .variable input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 40px; }
      #app_container.project-single .variables .variable .name-input {
        background: #9b55a3;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: white;
        padding: 5px 15px 5px 15px;
        margin: 0; }
      #app_container.project-single .variables .variable input.name-input[disabled] {
        color: #f3f000; }
      #app_container.project-single .variables .variable button {
        position: relative;
        right: 25px;
        color: #9b55a3;
        background: transparent; }
        #app_container.project-single .variables .variable button:hover {
          color: #170e1d; }
      #app_container.project-single .variables .variable .double-button {
        right: 40px; }
      #app_container.project-single .variables .variable .double-button-load {
        right: 23px;
        top: 6px;
        -webkit-transform: translateY(0) !important;
        transform: translateY(0) !important;
        cursor: default !important; }
      #app_container.project-single .variables .variable .double-button2 {
        right: 35px; }
  #app_container.project-single section {
    width: 100%; }
    #app_container.project-single section h2 {
      text-align: center; }
    #app_container.project-single section hr {
      width: 90%; }
  #app_container.project-single footer {
    width: 100vw;
    height: 8vh; }

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #9b55a3;
  border-radius: 50%;
  margin-top: 20vh;
  width: 100px;
  height: 100px; }

.dashboard-button-select {
  border-left: solid 3px #9b55a3 !important; }

.dashboard-button {
  border-left: solid 3px transparent;
  margin-left: 3px; }
  .dashboard-button:hover {
    background: rgba(155, 85, 163, 0.33);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    cursor: pointer; }
  .dashboard-button button {
    background: transparent; }
    .dashboard-button button .fa {
      margin-right: 1.3rem; }
    .dashboard-button button:hover {
      -webkit-transform: none;
      transform: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.loader-small {
  border: 2px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 2px solid #9b55a3;
  border-radius: 50%;
  width: 40px;
  height: 18px;
  margin: 0 !important; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@media only screen and (max-width: 1440px) {
  .w100xxl {
    width: 100% !important; }
  .rxxl {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrxxl {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .cxxl {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crxxl {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 1260px) {
  .w100xl {
    width: 100% !important; }
  .rxl {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrxl {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .cxl {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crxl {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 1080px) {
  .w100lg {
    width: 100% !important; }
  .rlg {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrlg {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .clg {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crlg {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 900px) {
  .w100ml {
    width: 100% !important; }
  .rml {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrml {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .cml {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crml {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 720px) {
  .prmd22 {
    padding-right: 2.2rem !important; }
  .w100md {
    width: 100% !important; }
  .rmd {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrmd {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .cmd {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crmd {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 540px) {
  .w100sm {
    width: 100% !important; }
  .rsm {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrsm {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .csm {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crsm {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

@media only screen and (max-width: 360px) {
  .w100xs {
    width: 100% !important; }
  .rxs {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100% !important; }
  .rrxs {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    width: 100% !important; }
  .cxs {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .crxs {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; } }

.dn {
  display: none; }

.r, #app #profile_window .profile-image, #app_container.project-dash header, #app_container.project-single header, #mobile_dropdown ul li, .rxs, .rsm, .rmd, .rml, .rlg, .rxl, .rxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.rr, .rrxs, .rrsm, .rrmd, .rrml, .rrlg, .rrxl, .rrxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.c, #app #profile_window, #window #window_content_block #update_profile, .cxs, .csm, .cmd, .cml, .clg, .cxl, .cxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.cr, .crxs, .crsm, .crmd, .crml, .crlg, .crxl, .crxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.jfe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.jfs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.jc, #app #profile_window, #app #profile_window .profile-image, #window #window_content_block #update_profile, #app_container.project-dash header, #app_container.project-single header, #mobile_dropdown ul li {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.jse {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.jsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.jsa {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.afe {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.afs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.ac, #app #profile_window, #app #profile_window .profile-image, #window #window_content_block #update_profile, #app_container.project-dash header, #app_container.project-single header, #mobile_dropdown ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.as {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.ab {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.acfe {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.acfs {
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.acc {
  -ms-flex-line-pack: center;
  align-content: center; }

.acs {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.acsa {
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.acsb {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.m0 {
  margin: 0; }

.dn {
  display: none !important; }

.w0 {
  width: 0; }

.w10 {
  width: 10%; }

.w20 {
  width: 20%; }

.w30 {
  width: 30%; }

.w40 {
  width: 40%; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

.miw0 {
  min-width: 0; }

.miw10 {
  min-width: 10%; }

.miw20 {
  min-width: 20%; }

.miw30 {
  min-width: 30%; }

.miw40 {
  min-width: 40%; }

.miw50 {
  min-width: 50%; }

.miw60 {
  min-width: 60%; }

.miw70 {
  min-width: 70%; }

.miw80 {
  min-width: 80%; }

.miw90 {
  min-width: 90%; }

.miw100 {
  min-width: 100%; }

.mw0 {
  max-width: 0; }

.mw10 {
  max-width: 10%; }

.mw20 {
  max-width: 20%; }

.mw30 {
  max-width: 30%; }

.mw40 {
  max-width: 40%; }

.mw50 {
  max-width: 50%; }

.mw60 {
  max-width: 60%; }

.mw70 {
  max-width: 70%; }

.mw80 {
  max-width: 80%; }

.mw90 {
  max-width: 90%; }

.mw100 {
  max-width: 100%; }

.h0 {
  height: 0; }

.h10 {
  height: 10%; }

.h20 {
  height: 20%; }

.h30 {
  height: 30%; }

.h40 {
  height: 40%; }

.h50 {
  height: 50%; }

.h60 {
  height: 60%; }

.h70 {
  height: 70%; }

.h80 {
  height: 80%; }

.h90 {
  height: 90%; }

.h100 {
  height: 100%; }

.mih0 {
  min-height: 0; }

.mih10 {
  min-height: 10%; }

.mih20 {
  min-height: 20%; }

.mih30 {
  min-height: 30%; }

.mih40 {
  min-height: 40%; }

.mih50 {
  min-height: 50%; }

.mih60 {
  min-height: 60%; }

.mih70 {
  min-height: 70%; }

.mih80 {
  min-height: 80%; }

.mih90 {
  min-height: 90%; }

.mih100 {
  min-height: 100%; }

.mh0 {
  max-height: 0; }

.mh10 {
  max-height: 10%; }

.mh20 {
  max-height: 20%; }

.mh30 {
  max-height: 30%; }

.mh40 {
  max-height: 40%; }

.mh50 {
  max-height: 50%; }

.mh60 {
  max-height: 60%; }

.mh70 {
  max-height: 70%; }

.mh80 {
  max-height: 80%; }

.mh90 {
  max-height: 90%; }

.mh100 {
  max-height: 100%; }

.p0 {
  padding: 0; }

.p1 {
  padding: 0.25em; }

.p2 {
  padding: 0.5rem; }

.p3 {
  padding: 1em; }

.p4 {
  padding: 1.5em; }

.p5 {
  padding: 3em; }

.pl0 {
  padding-left: 0; }

.pl1 {
  padding-left: 0.25em; }

.pl2 {
  padding-left: 0.5rem; }

.pl3 {
  padding-left: 1em; }

.pl4 {
  padding-left: 1.5em; }

.pl5 {
  padding-left: 3em; }

.pr0 {
  padding-right: 0; }

.pr1 {
  padding-right: 0.25em; }

.pr2 {
  padding-right: 0.5rem; }

.pr3 {
  padding-right: 1em; }

.pr4 {
  padding-right: 1.5em; }

.pr5 {
  padding-right: 3em; }

.pt0 {
  padding-top: 0; }

.pt1 {
  padding-top: 0.25em; }

.pt2 {
  padding-top: 0.5rem; }

.pt3 {
  padding-top: 1em; }

.pt4 {
  padding-top: 1.5em; }

.pt5 {
  padding-top: 3em; }

.pb0 {
  padding-bottom: 0; }

.pb1 {
  padding-bottom: 0.25em; }

.pb2 {
  padding-bottom: 0.5rem; }

.pb3 {
  padding-bottom: 1em; }

.pb4 {
  padding-bottom: 1.5em; }

.pb5 {
  padding-bottom: 3em; }

.py0 {
  padding-top: 0;
  padding-bottom: 0; }

.py1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em; }

.py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py3 {
  padding-top: 1em;
  padding-bottom: 1em; }

.py4 {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.py5 {
  padding-top: 3em;
  padding-bottom: 3em; }

.px0 {
  padding-right: 0;
  padding-left: 0; }

.px1 {
  padding-right: 0.25em;
  padding-left: 0.25em; }

.px2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.px3 {
  padding-right: 1em;
  padding-left: 1em; }

.px4 {
  padding-right: 1.5em;
  padding-left: 1.5em; }

.px5 {
  padding-right: 3em;
  padding-left: 3em; }

.m0 {
  margin: auto; }

.m0 {
  margin: 0; }

.m1 {
  margin: 0.25em; }

.m2 {
  margin: 0.5rem; }

.m3 {
  margin: 1em; }

.m4 {
  margin: 1.5em; }

.m5 {
  margin: 3em; }

.mla {
  margin-left: auto; }

.ml0 {
  margin-left: 0; }

.ml1 {
  margin-left: 0.25em; }

.ml2 {
  margin-left: 0.5rem; }

.ml3 {
  margin-left: 1em; }

.ml4 {
  margin-left: 1.5em; }

.ml5 {
  margin-left: 3em; }

.mra {
  margin-right: auto; }

.mr0 {
  margin-right: 0; }

.mr1 {
  margin-right: 0.25em; }

.mr2 {
  margin-right: 0.5rem; }

.mr3 {
  margin-right: 1em; }

.mr4 {
  margin-right: 1.5em; }

.mr5 {
  margin-right: 3em; }

.mta {
  margin-top: auto; }

.mt0 {
  margin-top: 0; }

.mt1 {
  margin-top: 0.25em; }

.mt2 {
  margin-top: 0.5rem; }

.mt3 {
  margin-top: 1em; }

.mt4 {
  margin-top: 1.5em; }

.mt5 {
  margin-top: 3em; }

.mt6 {
  margin-top: 4em; }

.mba {
  margin-bottom: auto; }

.mb0 {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 0.25em; }

.mb2 {
  margin-bottom: 0.5rem; }

.mb3 {
  margin-bottom: 1em; }

.mb4 {
  margin-bottom: 1.5em; }

.mb5 {
  margin-bottom: 3em; }

.mya {
  margin-top: auto;
  margin-bottom: auto; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.my1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em; }

.my2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.my3 {
  margin-top: 1em;
  margin-bottom: 1em; }

.my4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.my5 {
  margin-top: 3em;
  margin-bottom: 3em; }

.mxa {
  margin-right: auto;
  margin-left: auto; }

.mx0 {
  margin-right: 0;
  margin-left: 0; }

.mx1 {
  margin-right: 0.25em;
  margin-left: 0.25em; }

.mx2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.mx3 {
  margin-right: 1em;
  margin-left: 1em; }

.mx4 {
  margin-right: 1.5em;
  margin-left: 1.5em; }

.mx5 {
  margin-right: 3em;
  margin-left: 3em; }

.fs1 {
  font-size: 1rem; }

.fs2 {
  font-size: 2rem; }

.fs3 {
  font-size: 3rem; }

.fs4 {
  font-size: 4rem; }

.fs5 {
  font-size: 5rem; }

.tac {
  text-align: center !important; }

.tal {
  text-align: left !important; }

.tar {
  text-align: right !important; }

.fk {
  font-family: 'Karla', sans-serif; }

body {
  margin: 0;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow-x: hidden; }
  body header {
    background: transparent;
    overflow-x: hidden; }
  body button {
    background: #9b55a3;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 8px 30px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    font-size: 16px;
    margin: 1rem; }
    body button:hover {
      cursor: pointer !important;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3); }
  body input:focus, body textarea:focus, body select:focus, body button:focus {
    outline: none; }
  body input, body input[type="search"] {
    border: solid 1px #9b55a3;
    border-radius: 20px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 5px; }

#mobile_dropdown {
  background: #1C1C25;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  color: white;
  position: fixed;
  width: 100%;
  margin: 0; }
  #mobile_dropdown ul li {
    height: 80px;
    width: 90%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #mobile_dropdown ul li a {
      text-decoration: none;
      color: #fff;
      width: 100%;
      padding-left: 8%; }
    #mobile_dropdown ul li:hover {
      -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      cursor: pointer; }
      #mobile_dropdown ul li:hover > a {
        color: white; }

#site_header {
  height: 5rem;
  width: 100%;
  background: transparent;
  color: white;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  z-index: 10;
  overflow: hidden; }
  #site_header img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2rem; }
  #site_header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding-right: 2rem; }
    #site_header ul li {
      height: 100%; }
      #site_header ul li a {
        font-size: 0.75rem !important; }
      #site_header ul li label:hover {
        color: #97509E;
        cursor: pointer !important; }
      #site_header ul li:hover {
        color: #97509E;
        cursor: pointer !important; }
      #site_header ul li a, #site_header ul li label {
        text-decoration: none;
        color: white;
        padding: 0 0.25rem;
        height: 4rem; }
        #site_header ul li a:hover, #site_header ul li label:hover {
          color: #97509E !important;
          cursor: pointer !important; }
        #site_header ul li a:visited, #site_header ul li label:visited {
          color: #fff; }
  #site_header .hamburger:hover {
    cursor: pointer; }

@media only screen and (max-width: 947px) {
  #site_header {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
    #site_header .navigation {
      display: none !important; }
    #site_header .profile-image {
      display: none; }
    #site_header .hamburger {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }

#page_front {
  background-repeat: no-repeat;
  background-image: url("../images/Space-Background-sm.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Futura", sans-serif;
  background-color: transparent; }
  #page_front #beaker {
    height: 100px; }
  #page_front h1 {
    color: #F3B820;
    margin: 1rem !important;
    font-size: 5rem;
    text-align: center; }
  #page_front h2 {
    color: white;
    text-align: center;
    font-size: 2rem; }
  #page_front button {
    height: 44px;
    background: #97509E;
    font-size: 1.5rem; }
    #page_front button a {
      text-decoration: none;
      color: white;
      padding: 8px 30px !important; }
  #page_front #f1 {
    background-color: transparent;
    width: 100%;
    height: auto; }
    #page_front #f1 .rxl {
      max-width: 80%;
      padding: 0 20%; }
  #page_front #f2, #page_front #f4 {
    background-color: rgba(0, 0, 0, 0); }
    #page_front #f2 h2, #page_front #f4 h2 {
      color: white; }
    #page_front #f2 h3, #page_front #f4 h3 {
      font-size: 1.5rem;
      text-align: left;
      color: white; }
    #page_front #f2 p, #page_front #f4 p {
      text-align: left;
      font-size: 1rem;
      color: white; }
    #page_front #f2 button, #page_front #f4 button {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: 44px;
      font-size: 1.5rem;
      margin-top: 20px; }
  #page_front #f2 .rxl {
    max-width: 80%;
    padding: 0 10%; }
  #page_front #f3 .rxl {
    max-width: 80%;
    padding: 0 10%; }
  #page_front #f3 {
    background: transparent; }
    #page_front #f3 h2 {
      color: white; }
    #page_front #f3 h3 {
      color: white;
      font-size: 1.5em;
      text-align: left; }
    #page_front #f3 a {
      color: #97509E;
      text-decoration: none; }
    #page_front #f3 p {
      color: white;
      text-align: left;
      font-size: 1rem; }
    #page_front #f3 button {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: 44px;
      font-size: 1.5rem;
      margin-top: 20px; }
      #page_front #f3 button a {
        color: #fff; }
  #page_front #f4 p {
    font-size: 1rem; }
  #page_front #f4 img {
    max-width: 200px; }
  #page_front #f4 .rxl {
    max-width: 80%;
    padding: 0 10%; }
  #page_front footer {
    background: rgba(0, 0, 0, 0.5); }
    #page_front footer h3 {
      font-size: 1rem; }
    #page_front footer p {
      font-size: 0.75rem; }
    #page_front footer h2, #page_front footer h3, #page_front footer h4, #page_front footer p {
      color: white; }

@media only screen and (max-width: 947px) {
  #f1 {
    height: 600px !important;
    background-size: cover !important; }
    #f1 h1 {
      font-size: 3rem; }
    #f1 #beaker {
      height: 66px; }
    #f1 button {
      margin-top: 2rem !important;
      font-size: 1rem !important;
      width: 30% !important;
      height: 40px !important; }
    #f1 .heart_img {
      min-width: 300px !important; }
  #f2 {
    padding: 0 !important; }
    #f2 img {
      max-width: 60% !important; }
    #f2 #f2_content {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
      max-width: 80%;
      margin-top: 2rem; }
    #f2 button {
      margin-top: 2rem !important;
      font-size: 1rem;
      width: 100% !important;
      height: 40px !important; }
  #f3 button {
    margin-top: 2rem !important;
    font-size: 1rem;
    width: 100% !important;
    height: 40px !important; }
  #f3 img {
    width: 240px;
    height: 350px; }
  #f4 .rxl {
    max-width: 100% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  #f4 .f4_content {
    max-width: 33% !important; }
    #f4 .f4_content img {
      width: 150px;
      height: 150px; }
  footer #footer_width {
    width: 100% !important; }
  footer .footer_content {
    padding: 1rem !important; }
    footer .footer_content img {
      margin: 0; }
    footer .footer_content #footer_cta {
      max-width: 33%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  input {
    width: 50% !important; }
  button {
    width: 75% !important;
    margin: 0 !important; } }

@media only screen and (max-width: 400px) {
  #front_page img {
    min-width: 240px; }
  #front_page button a {
    font-size: 1rem !important; }
  #f1 button {
    width: 80% !important; }
  #f1 h2 {
    font-size: 1.5rem !important; }
  #f4 .rxl {
    max-width: 100% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  #f4 .f4_content {
    max-width: 100% !important; }
    #f4 .f4_content img {
      width: 150px;
      height: 150px; }
  footer #footer_width {
    max-width: 100% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
    footer #footer_width .footer_content {
      width: 80% !important; } }

.component-input input {
  padding-right: 60px; }

.component-input .fa-pencil-alt {
  color: #9b55a3;
  -webkit-transform: translate(-28px, 13px);
  transform: translate(-28px, 13px); }
  .component-input .fa-pencil-alt:hover {
    -webkit-transform: translate(-28px, 9px);
    transform: translate(-28px, 9px); }

.component-input .fa-loader {
  border: 2px solid #f3f3f3;
  -webkit-transform: translate(-28px, 13px);
  transform: translate(-28px, 13px);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 2px solid #9b55a3;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
  margin-top: 11px !important;
  margin-left: -34px !important; }

.component-input .fa-times {
  color: red;
  -webkit-transform: translate(-28px, 13px);
  transform: translate(-28px, 13px); }
  .component-input .fa-times:hover {
    -webkit-transform: translate(-28px, 9px);
    transform: translate(-28px, 9px); }

.component-input .fa-check {
  color: green;
  -webkit-transform: translate(-52px, 13px);
  transform: translate(-52px, 13px); }
  .component-input .fa-check:hover {
    -webkit-transform: translate(-52px, 9px);
    transform: translate(-52px, 9px); }

.component-input .fa-pencil-alt, .component-input .fa-check, .component-input .fa-times {
  font-size: 18px;
  position: absolute; }
  .component-input .fa-pencil-alt:hover, .component-input .fa-check:hover, .component-input .fa-times:hover {
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }

.component-input .error-popup {
  position: absolute;
  background: white;
  border: 1px solid red;
  border-radius: 8px;
  max-width: 246px; }
  .component-input .error-popup .fa-check {
    position: relative !important;
    -webkit-transform: none;
    transform: none; }
  .component-input .error-popup .fa-times-circle {
    color: black !important;
    background: white;
    border-radius: 50%;
    position: relative;
    padding-left: 10px; }
    .component-input .error-popup .fa-times-circle:hover {
      cursor: pointer; }
  .component-input .error-popup i, .component-input .error-popup p {
    color: red;
    margin: 0;
    font-size: 14px; }
  .component-input .error-popup span {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 14px solid red;
    position: relative;
    top: 20px;
    right: 88px; }

.component-input .error-popup-success {
  border: 1px solid green; }
  .component-input .error-popup-success i, .component-input .error-popup-success p {
    color: green; }

@font-face {
  font-family: "Futura";
  src: url("/fonts/FUTURAM.TTF") format("truetype"); }
