
mixin footer()
    footer
        .mwxxl.mxa.py4.rlg
            div.w50.w100lg.py4
                h3 About Us
                p.tal.px5 Brilliant Labs is a not-for-profit, hands-on technology and experiential learning platform based in Atlantic Canada.  We support the integration of creativity, innovation, coding, and an entrepreneurial spirit within classrooms and educational curricula.
            div.w50.w100lg.py4
                h3 CONNECT WITH US
                .r.jc.m3
                    a.mx4.fab.fa-youtube.cw.fs2.tdn(href="https://www.youtube.com/channel/UCHS8Qt5t543Xoxgx6SvZXBQ" target="_blank")
                    a.mx4.fab.fa-facebook.cw.fs2.tdn(href="https://www.facebook.com/brilliantlabslabosbrillants" target="_blank")
                    a.mx4.fab.fa-twitter.cw.fs2.tdn(href="https://twitter.com/brilliant_labs" target="_blank")
                .c.m3
                    p.tac
                        b.mt5 Subscribe to the Brilliant Labs Mailing List.
                    .rmd.jc.ac
                        input.m0.py2(type="email" placeholder="Email Address" style=" border: solid 1px #97509E;")
                        button Subscribe
