mixin head(title, options)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title #{title}

        // Icons
        link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/icons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/icons/favicon-16x16.png")
        link(rel="manifest", href="/icons/site.webmanifest")
        link(rel="mask-icon", href="/icons/safari-pinned-tab.svg", color="#01b1af")
        link(rel="shortcut icon", href="/icons/favicon.ico")
        meta(name="apple-mobile-web-app-title", content="Brilliant Labs Cloud")
        meta(name="application-name", content="Brilliant Labs Cloud")
        meta(name="msapplication-TileColor", content="#00aba9")
        meta(name="msapplication-config", content="/icons/browserconfig.xml")
        meta(name="theme-color", content="#01b1af")

        <!-- Primary Meta Tags -->
        meta(name="title" content="Brilliant Labs Cloud")
        meta(name="description" content="Open-source IoT cloud service for b.Board")

        <!-- Open Graph / Facebook -->
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://cloud.brilliantlabs.ca/")
        meta(property="og:title" content="Brilliant Labs Cloud")
        meta(property="og:description" content="Open-source IoT cloud service for b.Board")
        meta(property="og:image" content="https://cloud.brilliantlabs.ca/images/brilliant-labs-logo.png")

        <!-- Twitter -->
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:url" content="https://cloud.brilliantlabs.ca/")
        meta(property="twitter:title" content="Brilliant Labs Cloud")
        meta(property="twitter:description" content="Open-source IoT cloud service for b.Board")
        meta(property="twitter:image" content="https://cloud.brilliantlabs.ca/images/brilliant-labs-logo.png")

        // Firebase
        script(src="https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js")
        script(src='https://www.gstatic.com/firebasejs/6.4.2/firebase-auth.js')
        script(src='https://www.gstatic.com/firebasejs/6.4.2/firebase-database.js')

        script.
            var firebaseConfig = {
                apiKey: "AIzaSyCIX-wwImQjJfPTuMzEnKxDNgPf6pE3m-E",
                authDomain: "bl-cloud.firebaseapp.com",
                databaseURL: "https://bl-cloud.firebaseio.com",
                projectId: "bl-cloud",
                storageBucket: "",
                messagingSenderId: "224734135327",
                appId: "1:224734135327:web:fa2c5a75e2c89059"
            };
            firebase.initializeApp(firebaseConfig);

        // Stylesheets
        link(rel='stylesheet', href='/css/main.css')

        // Scripts
        script(src='/js/main.js')
        if options = 'app'
            script(src='/js/app.js')


