mixin header()
    header.r.jc.ac#site_header
        .r.jsb.ac.w100
            .r.jfs(style="width:25%;")
                a(href="https://brilliantlabs.ca" target="_blank")
                    img(src = "/images/brilliant-labs-logo-white.svg")
            ul.navigation.r.jfe.ac(style="width:75%;")
                li
                    a.r.jc.ac(href="/") &nbspHOME
                li
                    a.r.jc.ac(target="_blank" href="https://bboard.now.sh/") &nbspCODE
                li
                    a.r.jc.ac(target="_blank" href="https://brilliantlabs.app/") &nbspPROJECTS
                
                li
                    a.r.jc.ac &nbspBRILLIANT LABS
                li
                    a.r.jc.ac &nbspGET STARTED
                li
                    a.r.jc.ac &nbspSIGN IN
            img.profile-image.ml5.c.ac.jc.dn#profile_image(src = "/images/empty-avatar.png")
            ul.hamburger.r.jc.ac.dn
                li
                    input#ham.dn(name="ham" type="checkbox")
                    label#ham_label.fa.fa-bars.r.jc.ac(for="ham" style="width: 4rem;")
    #mobile_dropdown.dn
        .profile-image.ml5.c.ac.jc#profile_image 
        ul.c.jc.ac.m0.p0(style="margin-top:4rem;")
            li
                a.r.jfs.ac(href="/") &nbspHome
            li
                a.r.jfs.ac(target="_blank" href="https://bboard.now.sh/") &nbspCode
            li
                a.r.jfs.ac(target="_blank" href="https://brilliantlabs.app/") &nbspProjects
            li
                a.r.jfs.ac &nbspSign In
    script.
        var checkbox = document.getElementById("ham");
        var label = document.getElementById("ham_label");
        var dropdownMenu = document.getElementById('mobile_dropdown');
        checkbox.addEventListener('change', function () {
            if (this.checked) {
                label.classList.remove('fa-bars');
                label.classList.add('fa-times');
                dropdownMenu.classList.remove('dn');
            } else {
                label.classList.remove('fa-times');
                label.classList.add('fa-bars');
                dropdownMenu.classList.add('dn');
            }
        });
        window.addEventListener('resize', function () {
            checkbox.checked = false;
            dropdownMenu.classList.add('dn');
            label.classList.remove('fa-times');
            label.classList.add('fa-bars');
        })