mixin header()
    header
        a(href="https://brilliantlabs.ca" target="_blank")
            img(src = "/images/brilliant-labs-logo-white.svg")
        nav
            a(href="/") &nbspHOME
            a(target="_blank" href="https://bboard.now.sh/") &nbspCODE
            a(target="_blank" href="http://projects.brilliantlabs.ca/projects-list/") &nbspPROJECTS
            a(target="_blank" href="https://brilliantlabs.ca/") &nbspBRILLIANT LABS
            a#sign_in_nav( href="/app/") &nbspSIGN IN
        img.profile-image.dnml.ml5.c.ac.jc.dn#profile_image(src = "/images/empty-avatar.png")
        div
            input#ham(name="ham" type="checkbox")
            label(for="ham")
            nav
                a(href="/") &nbspHOME
                a(target="_blank" href="https://bboard.now.sh/") &nbspCODE
                a(target="_blank" href="http://projects.brilliantlabs.ca/projects-list/") &nbspPROJECTS
                a(target="_blank" href="https://brilliantlabs.ca/") &nbspBRILLIANT LABS
                a(href="/app/") &nbspSIGN IN
        script.
            window.onresize = function () {
                document.getElementById("ham").checked = false;
            }
            window.onscroll = function () {
                document.getElementById("ham").checked = false;
            }
